/* @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --c-pink: #f3afa8;
  --c-red: #c85454;
  --c-black: #2d2d2d;
  --c-light-black: #363636;
  --c-grey: #fcfcfc;
  --c-green: #009379;
  --c-light-pink: #ffe8e5;

  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;

  /*   font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 1.7rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.7rem;
}
h3 {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.7rem;
}

@media screen and (max-width: 1240px) {
  :root {
    font-size: 18px;
    line-height: 24px;
  }
  h1 {
    font-size: 2.6rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 2.375rem;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 841px) {
  h1 {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 0.6rem;

  }
}
